<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="customer" class="main.impl.Customer" autowire="byName"></bean>
    <bean id="address" class="main.impl.Address">
        <property name="fullAddress" value="北京市朝阳区北三环东路15号"></property>
    </bean>
</beans>