<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="outputHelper" class="main.service.OutputHelper">
        <property name="generator" ref="csvOutputHelper"></property>
    </bean>
    <bean id="csvOutputHelper" class="main.impl.CSVOutputGenerator"></bean>
    <bean id="jsonOutputHelper" class="main.impl.JsonOutputGenerator"></bean>
</beans>